body {
    background-color: aqua;
}

h1 {
    text-align: center;
}

.one {
    margin: auto;
    width: 75%;
    background-color: oldlace;
    padding: 7px;

}
button {
    text-align: center;
}

.current {
    background-color: red;
}

ul {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: gold;
    padding: 5px;
}

a {
    color: gold;
}

li {
    padding-left: 15px;
    font-size: 16px;
}