body {
    background-color: teal;
}

.container { 
    margin-top: 30px
    background-color: oldlace;
 }
 a:hover {
    color: black;
 }
 li:hover {
    background-color: gold;
    color: black;
 }
 img {
    max-width: 100%;
 }